body {
    background-color: #00509d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.christmas {
    position: relative;
}

.tree {
    position: relative;
    background-color: #685044;
    width: 30px;
    height: 80px;
    top: 100px;
    transform-style: preserve-3d;
}

.tree:before {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #127475;
    border-radius: 30px;
    top: -250px;
    left: -75px;
}

.tree:after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #0e9594;
    border-bottom-right-radius: 30px;
    top: -268px;
    right: -15px;
}

.chain {
    position: absolute;
    width: 85px;
    height: 85px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -185px;
    left: -35px;
    transform: rotate3d(8,0.1,-5,75deg);
    box-sizing: border-box;
    z-index: 5;
}

.chain1 {
    position: absolute;
    width: 145px;
    height: 135px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -115px;
    left: -65px;
    transform: rotate3d(8,0.1,-5,75deg);
    z-index: 5;
}

.shadow {
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius: 50%;
    top: 175px;
    left: -115px;
    background-color: rgba(0, 0, 0, 0.07);
    z-index: -1;
}

.star {
    margin: 50px 0;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 17.5px solid #f9dc5c;
    top: -190px;
    left: -9px;
    transform: rotate(35deg);
}

.star:before {
    position: absolute;
    content: "";
    border-bottom: 20px solid #f9dc5c;
    border-right: 7.5px solid transparent;
    border-left: 7.5px solid transparent;
    width: 0;
    height: 0;
    left: -17.5px;
    top: -12.5px;
    display: block;
    transform: rotate(-35deg);
}

.star:after {
    content: "";
    position: absolute;
    display: block;
    top: 0.75px;
    left: -26.25px;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 17.5px solid #f9dc5c;
    transform: rotate(-70deg);
}

.lights {
    position: absolute;
}

.light1 {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
}

.light1 {
    background-color: #ff595e;
    top: -100px;
    left: -35px;
    transform: rotate(40deg);
    box-shadow: 1px 1px 15px #faf3dd;
}

.light2 {
    position: absolute;
    background-color: #ffca3a;
    top: -95px;
    left: -10px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light3 {
    position: absolute;
    background-color: #6a4c93;
    top: -105px;
    left: 15px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light4 {
    position: absolute;
    background-color: #1982c4;
    top: -118px;
    left: 35px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light5 {
    position: absolute;
    background-color: #1982c4;
    top: 15px;
    left: -55px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light6 {
    position: absolute;
    background-color: #8ac926;
    top: 20px;
    left: -25px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light7 {
    position: absolute;
    background-color: #ff595e;
    top: 15px;
    left: 2px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light8 {
    position: absolute;
    background-color: #ffca3a;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 27px;
    box-shadow: 1px 1px 15px #faf3dd;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light9 {
    position: absolute;
    background-color: #9e0059;
    left: 50px;
    top: -12px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}

.light10 {
    position: absolute;
    background-color: #4361ee;
    left: 68px;
    top: -30px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px;
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
}